#countrylist {
    margin-top: 20px;
    padding-left: 0;
    list-style-type: none;
}

#countrylist li {
    padding-left: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
}

.material-icons {
    font-size: 1px;
    color: red;
    cursor: pointer;
    margin-left: 1px;
    border-radius: 10px;
}

.boks-container {
    width: 250px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgb(54, 113, 39);
}
.boks-container input {
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 53px;
}
.boks-container button {
    padding: 2px;
    cursor: pointer;
    border-radius: 10px;
}
.boks-container button:hover{
    background-color: #45a049;
}